.dashboardcard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 24px;
    width: 77.5%;
    margin-left: 22%;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
    border-radius: 6px;
}


@media screen and (max-width: 394px) {
    .dashboardcard {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 24px;
        width: 90% !important;
        margin-left: 2.8% !important;
        margin-top: 4.5% !important;
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
        border-radius: 6px;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 1;
    }
}


::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}