.add-expense-input {
    width: 350px;
}

.expense-card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
}

.expense-card-icon {
    width: 28px;
    height: 28px;
    margin-left: 4.94px;
    margin-top: 14px;
}

@media screen and (max-width: 394px) {
    .add-expense-input {
        width: 320px;
    }

}

.add-expense-submit-button {
    box-sizing: border-box;
    width: 143px;
    height: 44px;
    background: #10D1E3;
    border: 1px solid #AAF8FF;
    border-radius: 22px;
    margin-top: 65px;
    margin-left: 36px;
    margin-bottom: 53px;
}

.add-expense-submit-button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 25px;
}