.payment-records-card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
}

.payment-records-icon {
    width: 28px;
    height: 28px;
    margin-left: 4.94px;
    margin-top: 14px;
}

.form-input-width {
    width: 210px;
}
