.assessment-category-card {
    padding: 5px;
    margin-left: 20px;
    margin-top: 15px;
    width: 90%;
    height: 100px;
    margin-right: 5px;
    border: 1px solid #F3F3F3;
    box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
    border-radius: 6px;
}

.assessment-name-card {
    padding: 5px;
    margin-left: 20px;
    margin-top: 15px;
    width: 90%;
    height: 80px;
    margin-right: 5px;
    border: 1px solid #F3F3F3;
    box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
    border-radius: 6px;
}


.pointer{
    cursor: pointer;
}